In [227]:
import yfinance as yf
import pandas as pd
import json

In [228]:
#Making empty for storing financial information
df_financial = pd.read_csv('Tickers.csv', sep=';')
df_financial

             Company       Ticker
0            ABNAMRO       ABN.AS
1           Agrifirm            0
2           AgroFair            0
3             Amazon         AMZN
4              Armor            0
5                asr     ASRNL.AS
6                bam     BAMNB.AS
7         Bouwinvest            0
8          Burggroup            0
9           CocaCola           KO
10          Dataflex            0
11          DS-Smith       SMDS.L
12            Essity  ESSITY-B.ST
13    Facebook(Meta)           FB
14             Forbo      FORN.SW
15  FrieslandCampina            0
16            Google         GOOG
17       GrandVision            0
18           Grolsch            0
19          heineken        HEINY
20              HEMA            0
21            Henkel      HEN3.DE
22                HP          HPQ
23              IKEA            0
24               ING          ING
25             Intel         INTC
26               IOC            0
27               KPN       KPN.AS
28         Microsoft         MSFT
29          NN-Group        NN.AS
30         Optigroup            0
31            Otrium            0
32           PepsiCo          PEP
33           Philips          PHG
34  ProcterandGamble           PG
35               RAI            0
36            Renewi       RWI.AS
37            Robeco            0
38          Rockwool    ROCK-B.CO
39       Royal-Avebe            0
40             Shell            0
41         SHVenergy            0
42            TenneT            0
43             Tesla         TSLA
44           Trivium            0
45             Trust            0
46       VanLanschot       VLK.AS
47         VPCAPITAL            0

In [229]:
#Removing companies without tickers

df_financial = df_financial[(df_financial['Ticker'])!='0'].reset_index(drop=True)
df_financial.head()

    Company    Ticker
0   ABNAMRO    ABN.AS
1    Amazon      AMZN
2       asr  ASRNL.AS
3       bam  BAMNB.AS
4  CocaCola        KO

In [230]:
'''
lambdafunc = lambda x: (yf.Ticker(x).info['sector'], yf.Ticker(x).info['exchange'],yf.Ticker(x).info['currency'])
df_financial[['Sector'],['Exchange'],['Currency']] = df_financial['Ticker'].apply(lambdafunc)
'''
df_financial['Sector'] = df_financial['Ticker'].apply(lambda x: yf.Ticker(x).info['sector'])
df_financial['Exchange'] = df_financial['Ticker'].apply(lambda x: yf.Ticker(x).info['exchange'])
df_financial['Currency'] = df_financial['Ticker'].apply(lambda x: yf.Ticker(x).info['currency'])

In [231]:
df_financial.head()

    Company    Ticker              Sector Exchange Currency
0   ABNAMRO    ABN.AS  Financial Services      AMS      EUR
1    Amazon      AMZN   Consumer Cyclical      NMS      USD
2       asr  ASRNL.AS  Financial Services      AMS      EUR
3       bam  BAMNB.AS         Industrials      AMS      EUR
4  CocaCola        KO  Consumer Defensive      NYQ      USD

In [243]:
df_financial['10.05.2020'] = df_financial['Ticker'].apply(lambda x: yf.download(x, '2020-05-11',progress=False).Close.values[0])
df_financial['10.05.2022'] = df_financial['Ticker'].apply(lambda x: yf.download(x, '2022-05-11',progress=False).Close.values[0])

In [244]:
#Using dictionary to map Exchange to ticker

Ticker_exchange = {'NYQ': '^NYA', 'AMS': '^AEX', 'NMS': '^IXIC', 'LSE':'^FTSE' ,
 'STO':'^OMX', 'PNK':'^AEX','EBS':'^SSMI', 'GER':'^GDAXI', 'CPH':'^OMXC20'}


df_financial['Exchange_ticker'] = df_financial['Exchange'].map(Ticker_exchange)
df_financial.head()

,Company,Ticker,Sector,Exchange,Currency,10.05.2022,10.05.2020,Exchange_ticker,Exchange_2020.05.10,Exchange_2022.05.10,valuta_ticker,Exchange_rate_2020,Exchange_rate_2022,USD_2020.10.05,USD_2022.10.05
0,ABNAMRO,ABN.AS,Financial Services,AMS,EUR,11.105000,6.646000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,7.203945,11.695999
1,Amazon,AMZN,Consumer Cyclical,NMS,USD,2177.179932,2409.000000,^IXIC,9192.339844,11623.250000,USD=x,1.000000,1.000000,2409.000000,2177.179932
2,asr,ASRNL.AS,Financial Services,AMS,EUR,42.849998,23.040001,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,24.974257,45.130441
3,bam,BAMNB.AS,Industrials,AMS,EUR,2.402000,1.478000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,1.602081,2.529832
4,CocaCola,KO,Consumer Defensive,NYQ,USD,64.010002,45.540001,^NYA,11281.370117,15057.870117,USD=x,1.000000,1.000000,45.540001,64.010002

In [245]:

df_financial['Exchange_2020.05.10'] = df_financial['Exchange_ticker'].apply(lambda x: yf.download(x, '2020-05-10',progress=False).Close.values[0])
df_financial['Exchange_2022.05.10'] = df_financial['Exchange_ticker'].apply(lambda x: yf.download(x, '2022-05-10',progress=False).Close.values[0])

df_financial.head()

,Company,Ticker,Sector,Exchange,Currency,10.05.2022,10.05.2020,Exchange_ticker,Exchange_2020.05.10,Exchange_2022.05.10,valuta_ticker,Exchange_rate_2020,Exchange_rate_2022,USD_2020.10.05,USD_2022.10.05
0,ABNAMRO,ABN.AS,Financial Services,AMS,EUR,11.105000,6.646000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,7.203945,11.695999
1,Amazon,AMZN,Consumer Cyclical,NMS,USD,2177.179932,2409.000000,^IXIC,9192.339844,11623.250000,USD=x,1.000000,1.000000,2409.000000,2177.179932
2,asr,ASRNL.AS,Financial Services,AMS,EUR,42.849998,23.040001,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,24.974257,45.130441
3,bam,BAMNB.AS,Industrials,AMS,EUR,2.402000,1.478000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,1.602081,2.529832
4,CocaCola,KO,Consumer Defensive,NYQ,USD,64.010002,45.540001,^NYA,11281.370117,15057.870117,USD=x,1.000000,1.000000,45.540001,64.010002

In [246]:
Valuta = {'EUR': 'EURUSD=x', 'DKK': 'DKKUSD=x', 'SEK': 'SEKUSD=x', 'CHF':'CHFUSD=x' ,
 'GBp':'GBPUSD=x', 'USD': 'USD=x'}

In [247]:
df_financial['valuta_ticker'] = df_financial['Currency'].map(Valuta)


df_financial['Exchange_rate_2020'] = df_financial['valuta_ticker'].apply(lambda x: yf.download(x, '2020-05-10', progress=False).Close[0])
df_financial['Exchange_rate_2022'] = df_financial['valuta_ticker'].apply(lambda x: yf.download(x, '2022-05-10', progress=False).Close[0])
df_financial['USD_2020.10.05'] = df_financial['Exchange_rate_2020']*df_financial['10.05.2020']
df_financial['USD_2022.10.05'] = df_financial['Exchange_rate_2022']*df_financial['10.05.2022']
df_financial.head()

,Company,Ticker,Sector,Exchange,Currency,10.05.2022,10.05.2020,Exchange_ticker,Exchange_2020.05.10,Exchange_2022.05.10,valuta_ticker,Exchange_rate_2020,Exchange_rate_2022,USD_2020.10.05,USD_2022.10.05
0,ABNAMRO,ABN.AS,Financial Services,AMS,EUR,11.105000,6.646000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,7.203945,11.695999
1,Amazon,AMZN,Consumer Cyclical,NMS,USD,2177.179932,2409.000000,^IXIC,9192.339844,11623.250000,USD=x,1.000000,1.000000,2409.000000,2177.179932
2,asr,ASRNL.AS,Financial Services,AMS,EUR,42.849998,23.040001,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,24.974257,45.130441
3,bam,BAMNB.AS,Industrials,AMS,EUR,2.402000,1.478000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,1.602081,2.529832
4,CocaCola,KO,Consumer Defensive,NYQ,USD,64.010002,45.540001,^NYA,11281.370117,15057.870117,USD=x,1.000000,1.000000,45.540001,64.010002