In [248]:
import yfinance as yf
import pandas as pd
import json

In [249]:
#Making empty for storing financial information
df_financial = pd.read_csv('Tickers.csv', sep=';')
df_financial.head()

    Company  Ticker
0   ABNAMRO  ABN.AS
1  Agrifirm       0
2  AgroFair       0
3    Amazon    AMZN
4     Armor       0

In [250]:
#Removing companies without tickers

df_financial = df_financial[(df_financial['Ticker'])!='0'].reset_index(drop=True)
df_financial.head()

    Company    Ticker
0   ABNAMRO    ABN.AS
1    Amazon      AMZN
2       asr  ASRNL.AS
3       bam  BAMNB.AS
4  CocaCola        KO

In [252]:
df_financial['Sector'] = df_financial['Ticker'].apply(lambda x: yf.Ticker(x).info['sector'])
df_financial['Exchange'] = df_financial['Ticker'].apply(lambda x: yf.Ticker(x).info['exchange'])
df_financial['Currency'] = df_financial['Ticker'].apply(lambda x: yf.Ticker(x).info['currency'])

In [253]:
df_financial.head()

    Company    Ticker              Sector Exchange Currency
0   ABNAMRO    ABN.AS  Financial Services      AMS      EUR
1    Amazon      AMZN   Consumer Cyclical      NMS      USD
2       asr  ASRNL.AS  Financial Services      AMS      EUR
3       bam  BAMNB.AS         Industrials      AMS      EUR
4  CocaCola        KO  Consumer Defensive      NYQ      USD

In [254]:
df_financial['10.05.2020'] = df_financial['Ticker'].apply(lambda x: yf.download(x, '2020-05-11',progress=False).Close.values[0])
df_financial['10.05.2022'] = df_financial['Ticker'].apply(lambda x: yf.download(x, '2022-05-11',progress=False).Close.values[0])

In [255]:
#Using dictionary to map Exchange to ticker

Ticker_exchange = {'NYQ': '^NYA', 'AMS': '^AEX', 'NMS': '^IXIC', 'LSE':'^FTSE' ,
 'STO':'^OMX', 'PNK':'^AEX','EBS':'^SSMI', 'GER':'^GDAXI', 'CPH':'^OMXC20'}


df_financial['Exchange_ticker'] = df_financial['Exchange'].map(Ticker_exchange)
df_financial.head()

,Company,Ticker,Sector,Exchange,Currency,10.05.2020,10.05.2022,Exchange_ticker
0,ABNAMRO,ABN.AS,Financial Services,AMS,EUR,6.646000,11.105000,^AEX
1,Amazon,AMZN,Consumer Cyclical,NMS,USD,2409.000000,2177.179932,^IXIC
2,asr,ASRNL.AS,Financial Services,AMS,EUR,23.040001,42.849998,^AEX
3,bam,BAMNB.AS,Industrials,AMS,EUR,1.478000,2.402000,^AEX
4,CocaCola,KO,Consumer Defensive,NYQ,USD,45.540001,64.010002,^NYA

In [256]:

df_financial['Exchange_2020.05.10'] = df_financial['Exchange_ticker'].apply(lambda x: yf.download(x, '2020-05-10',progress=False).Close.values[0])
df_financial['Exchange_2022.05.10'] = df_financial['Exchange_ticker'].apply(lambda x: yf.download(x, '2022-05-10',progress=False).Close.values[0])

df_financial.head()

,Company,Ticker,Sector,Exchange,Currency,10.05.2020,10.05.2022,Exchange_ticker,Exchange_2020.05.10,Exchange_2022.05.10
0,ABNAMRO,ABN.AS,Financial Services,AMS,EUR,6.646000,11.105000,^AEX,520.330017,669.739990
1,Amazon,AMZN,Consumer Cyclical,NMS,USD,2409.000000,2177.179932,^IXIC,9192.339844,11623.250000
2,asr,ASRNL.AS,Financial Services,AMS,EUR,23.040001,42.849998,^AEX,520.330017,669.739990
3,bam,BAMNB.AS,Industrials,AMS,EUR,1.478000,2.402000,^AEX,520.330017,669.739990
4,CocaCola,KO,Consumer Defensive,NYQ,USD,45.540001,64.010002,^NYA,11281.370117,15057.870117

In [257]:
Valuta = {'EUR': 'EURUSD=x', 'DKK': 'DKKUSD=x', 'SEK': 'SEKUSD=x', 'CHF':'CHFUSD=x' ,
 'GBp':'GBPUSD=x', 'USD': 'USD=x'}

In [258]:
df_financial['valuta_ticker'] = df_financial['Currency'].map(Valuta)


df_financial['Exchange_rate_2020'] = df_financial['valuta_ticker'].apply(lambda x: yf.download(x, '2020-05-10', progress=False).Close[0])
df_financial['Exchange_rate_2022'] = df_financial['valuta_ticker'].apply(lambda x: yf.download(x, '2022-05-10', progress=False).Close[0])
df_financial['USD_2020.10.05'] = df_financial['Exchange_rate_2020']*df_financial['10.05.2020']
df_financial['USD_2022.10.05'] = df_financial['Exchange_rate_2022']*df_financial['10.05.2022']
df_financial.head()

,Company,Ticker,Sector,Exchange,Currency,10.05.2020,10.05.2022,Exchange_ticker,Exchange_2020.05.10,Exchange_2022.05.10,valuta_ticker,Exchange_rate_2020,Exchange_rate_2022,USD_2020.10.05,USD_2022.10.05
0,ABNAMRO,ABN.AS,Financial Services,AMS,EUR,6.646000,11.105000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,7.203945,11.695999
1,Amazon,AMZN,Consumer Cyclical,NMS,USD,2409.000000,2177.179932,^IXIC,9192.339844,11623.250000,USD=x,1.000000,1.000000,2409.000000,2177.179932
2,asr,ASRNL.AS,Financial Services,AMS,EUR,23.040001,42.849998,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,24.974257,45.130441
3,bam,BAMNB.AS,Industrials,AMS,EUR,1.478000,2.402000,^AEX,520.330017,669.739990,EURUSD=x,1.083952,1.053219,1.602081,2.529832
4,CocaCola,KO,Consumer Defensive,NYQ,USD,45.540001,64.010002,^NYA,11281.370117,15057.870117,USD=x,1.000000,1.000000,45.540001,64.010002